In [10]:
import os
import json

import spacy
import pandas as pd

In [2]:
RAW_DATA_DIR = "Data/Positions"

In [11]:
nlp_engine = spacy.load("en_core_web_lg")

In [7]:
positions = []

f_names = os.listdir(RAW_DATA_DIR)
for f_name in f_names:
    with open(f"{RAW_DATA_DIR}/{f_name}", encoding="utf8") as f:
        position = json.load(f)
        positions.append(position)

In [13]:
data = []

for position in positions:
    description = position.get("description", "")
    description = description.split("\n")
    description = list(filter(lambda s: len(s) > 0, description))

    for i, line in enumerate(description):
        doc = nlp_engine(line)
        for j, token in enumerate(doc):
            data.append({
                "document_id": position["id"],
                "line": i,
                "token_index": j,
                "token": token.text,
                "token_pos": token.pos_
            })

In [20]:
df = pd.DataFrame(data)

In [26]:
df = df[df.token_pos != "SPACE"]
df["tag"] = "O"

In [27]:
df

     document_id  line  token_index      token token_pos tag
1         121288     0            1      About       ADP   O
3         121288     0            3         us      PRON   O
4         121288     0            4          :     PUNCT   O
6         121288     0            6   BetterMe     PROPN   O
7         121288     0            7         is       AUX   O
...          ...   ...          ...        ...       ...  ..
5268      109080    29            9      tests      NOUN   O
5269      109080    29           10        and     CCONJ   O
5270      109080    29           11      other       ADJ   O
5272      109080    29           13         QA      NOUN   O
5273      109080    29           14  documents      NOUN   O

[4300 rows x 6 columns]

In [28]:
df.to_csv("Data/ner.tsv", sep="\t", index=False)